.fishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	background-color: lightblue;
	padding-top: 0.5em;
}

.fish {
    flex-basis: 16%;
	margin-bottom: 1em;
}

.fish__name {
	font-weight: 1000;
}

.fish__image {
    max-height: 10rem;
}
