@import "./fishes.css";
@import "./tips.css";
@import "./locations.css";
@import "./quotes.css";

body {
    font-family: 'Josefin Sans', sans-serif;
}

.header {
	text-shadow: 4px 4px 5px gainsboro;
}

.rounded {
	border-radius: 10px;
	box-shadow: 4px 4px 5px gainsboro;
}

.spacer {
	height: 5%;
}

.bodyHeader {
    text-align: center;
}

.container {
    display: flex;
    padding: 3rem;
}

.testBorder {
    /* border: 1px dotted goldenrod; */
}

.bottom-space {
    margin-bottom: 3rem;
}

.flex-container-left {
    flex: 3;
}
